* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Inter", sans-serif;
}

body {
    background: #B91212E3;
}

.title {
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 300px;
    font-size: 70px;
    color: #FFFFFF;

}

button {
    display: flex;
}

.login {
    display: flex;
    position: relative;
    font-size: 30px;
    left: 950px;

    padding-top: 13px;
    padding-right: 24px;
    padding-bottom: 13px;
    padding-left: 24px;
    gap: 16px;

    background: none;
    color: white;

    border: 1px solid white;
    border-radius: 35px;

}

.login:hover {
    transition: 0.5s;
    background-color: white;
    color: #B91212E3;
}

.login:not(:hover) {
    transition: 0.5s;
  }


.ns {
    width: 423px;
    display: flex;
    font-size: 30px;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;

    border: none;
    border-radius: 32px;
    background: none;
    border: 2px solid var(--Colors-Mint, #00C7BE);
    margin-bottom: 20px;
}

.ns p {
    margin: 0 auto;
    color: white;
}

.ns:hover {
    transition: 0.5s;
    background-color: #00C7BE;
}

.ns:not(:hover) {
    transition: 0.5s;
    background: none;
}



.fe {
    width: 423px;
    display: flex;
    font-size: 20px;

    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 40px;

    border-radius: 32px;
    background: none;
    border: 2px solid var(--Colors-Mint, #00C7BE),
}

.fe p {
    margin: 0 auto;
    color: white;
}

.fe:hover {
    transition: 0.5s;
    background-color: #00C7BE;
}

.fe:not(:hover) {
    transition: 0.5s;
    background: none;
}